*{
    box-sizing: border-box;
    border: 0%;
}

body{

    background: linear-gradient(to right, rgb(95, 186, 216), rgb(128, 128, 180));
}

header {

    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}
  
nav {
    float: right;
    border: 1px solid red;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    margin-right: 10px;
}

main{

    border: 1px solid red;
}

section {

    border: 1px solid red;
}

aside {

    border: 1px solid red;
}

footer {

    border: 1px solid red;
}